@tailwind base; /* Preflight will be injected here */
@tailwind components;
@tailwind utilities;

.btn1 {
  @apply bg-red-500 p-3 text-white font-bold;
}

@layer components {
  .btn2 {
    @apply bg-red-500 p-3 text-white font-bold;
  }
}

.btn3 {
  @apply p-3 text-white font-bold hover:bg-green-500;
  background-color: theme(colors.red.500);
}

h3 {
  font-weight: bold;
  font-size: xx-small;
  /* font-size: xx-large; */
}
.logo {
  height: 10vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.charlie {
  height: 10vmin;
  pointer-events: none;
}
