@import './tailwind.css';
@import './tailwind.0.css';
@import './tailwind.1.css';
@import './tailwind.2.css';

:root {
  --color: red;
}

.index_title {
  color: var(--color);
}

.index_logo {
  height: 10vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .index_logo {
    animation: logo-spin infinite 20s linear;
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.index_charlie {
  height: 10vmin;
  pointer-events: none;
}
